    <div class="page-navigation__menu">
        <ul>
            <li>
                <span class="heading-page--main">Games.</span>
            </li>
            <li>All</li>
            <li>Players</li>
            <li><a href="#popup" class="btn btn--gradient">New Game </a></li>
            {{!-- <li>New Game</li> --}}
        </ul>
    </div>