    <div class="index-navigation__menu">
        <ul>
            <li>
                <span class="heading-page--main">Title.</span>
            </li>
            <li>Login</li>
            <li>Games</li>
            <li>Players</li>
        </ul>
    </div>