    <div class="index-navigation__menu">
        <ul>
            <li>
                <span class="heading-page--main">Title.</span>
            </li>
            <li>Login</li>
            <li>Signup</li>
            <li><a href="#popup" class="btn btn--gradient">New Game </a></li>
            {{!-- <li>New Game</li> --}}
        </ul>
    </div>