    <div class="page-navigation__menu">
        <ul>
            <li>
                <span class="heading-page--main">Players.</span>
            </li>
            <li>Games</li>
            <li>Players</li>
        </ul>
    </div>