.page-navigation {

    &__menu {
        display: block;
        padding: 3rem;
        margin: 0 auto;
        width: 83%;
        position: relative;
        margin-bottom: 4rem;

        left: 50%;
        margin-left: -41.5%;
        color: $color-white;
        font-size: 1.25rem;

        text-transform: uppercase;
        letter-spacing: .3rem;
        border-bottom: 1px solid white;

       

        ul {
            list-style: none;

            @include respond(phone) {
                height: 7rem;
            }
        }

        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            text-align: center;
            // width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
            width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-child(n+3) {
                @include respond(phone) {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &:nth-child(-n+2) {
                @include respond(phone) {
                    width: 45%;
                    display: inline-block;
                    // margin: 0;
                    // padding: 0;
                }
            }
        }
    }

}