body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.heading-primary {
    
    color: $color-white;
    text-transform: uppercase;
    /* Shaking animation bug fix */
    backface-visibility: hidden;
    margin-bottom: 3rem;
    

    &--main {
        display: block;
        width: 100%;
        font-size: 11rem;
        font-weight: 700;
        letter-spacing: -.4rem;
        animation: moveInTop 1.5s ease-out .75s;
        animation-fill-mode: backwards;
        line-height: 10rem;
        text-shadow: 0  1rem 2rem rgba($color-black, .8);
        /* animation-iteration-count: 3; */
        /* animation-delay: 3s; */

        @include respond(phone) {
            letter-spacing: .1rem;
            font-size: 7rem;
            line-height: 6rem;
            text-align: center;
        }
    }
    
    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: .5rem;
        animation: moveInLeft 1.25s ease-out 1s;
        animation-fill-mode: backwards;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    &:hover {
        transform: skewY(1deg) skewX(3deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
    }
}

.heading-secondary {
    font-size: 11rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // background-image: linear-gradient(to right, $color-blue-light, $color-blue-dark);
    color: white;
    -webkit-background-clip: text;
    transition: all .2s;
    letter-spacing: .2rem;

    &:hover {
        // transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
    }
}

.heading-tertiary {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.2rem;
}

.game-details {
    color: $color-white;
    text-transform: uppercase;

    &--main {
        color: $color-white;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: -.2rem;
    }

    &--sub {
        font-size: 1.1rem;
        letter-spacing: .3rem;
        padding-left: 1rem;
    }

    &--location {
        color: $color-white;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: -.1rem;
    }
}

.icon {
    color: $color-white;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.heading-page {

    &--main {
        color: $color-white;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: -.2rem;
    }
    
}