
    {{> navigation}}
    
    <header class="header">

        <div class="header__background-layer-02"></div>
        
        <div class="header__text-box--left">

            {{!-- <p class="paragraph">Placeholder</p> --}}

            <h1 class="heading-primary">
                {{!-- <span class="heading-primary--sub">Placeholder</span> --}}
                <span class="heading-primary--main left">That's</span>
                <span class="heading-primary--main left">Not</span>
                <span class="heading-primary--main left">Right</span>
            </h1>
            
            <a href="/index" class="btn btn--gradient btn--header btn--animated">Try again</a>
            
        </div>

    
    </header>