{{> navigation}}
  
    <section class="section-games" id="section-games">

      {{> game-navigation}}
      
      {{!-- <div class="u-center-text  u-margin-bottom-lg">
        <h2>
          <span class="heading-secondary">Games</span>
        </h2>
        <a href="#popup" class="btn btn--blue btn--animated">Create a game</a>
      </div> --}}
        
        <div class="popup" id="popup">
          <div class="popup__content">
            {{#if isAuthenticated}}
            <form class="add-game" action="api/games" method="POST">

            <div class="form__group">
                <label for="date" class="form__label">Time</label>
                <input type="date" class="form__input" id="date" name="date" placeholder="Date" required>
              </div>

              <div class="form__group">
                <label for="time" class="form__label">Time</label>
                <input type="time" class="form__input" id="time" name="time" placeholder="Time" required>
              </div>
              
              <div class="form__group">
                <label for="location" class="form__label" >Location</label>
                <input type="text" class="form__input" id="location" name="location" required>
              </div>

              <div class="form__group">
                <label for="max_players" class="form__label">Number of players</label>
                <input type="number" class="form__input" id="max_players" name="max_players" required>
              </div>

              <input class="btn btn--form" type="submit" value="Create Game"  />

            </form>
            {{/if}}

            {{#unless isAuthenticated}} 
              <span class="game-details--location">Only members can create games.</span>
            {{/unless}}

            <a href="#section-games" class="popup__close">&times;</a>
          </div>
        </div>

      <div class="games-container"></div>

    </section>