{{> navigation}}

<p class="paragraph">Games</p>





<div class="container">

    <form class="add-game" action="api/games" method="POST">
        <label for="time">Time</label>
        <input type="number" id="time" name="time">
        <label for="location">Location</label>
        <input type="text" id="location" name="location">
        <label for="max_players">Max Players</label>
        <input type="text" id="max_players" name="max_players">
        <input class="btn" type="submit" value="Create Game"  />
    </form>
    
</div>


<div class="games-container"></div>





 <script type="text/javascript" src="js/games.js"></script>