
    {{> navigation}}
    
    <header class="header">

        <div class="header__background-layer-02"></div>
        <div class="header__background-layer-01"></div>

        <div class="header__logo-box">
            {{!-- <p class="paragraph">Login</p> --}}
            <!-- <img src="img/logo-white.png" alt="Logo" class="header__logo"> -->
        </div>
        
        <div class="header__text-box--left">

            {{!-- <p class="paragraph">Placeholder</p> --}}

            <h1 class="heading-primary">
                {{!-- <span class="heading-primary--sub">Placeholder</span> --}}
                <span class="heading-primary--main left">King</span>
                <span class="heading-primary--main left">Of the</span>
                <span class="heading-primary--main left">Court</span>
            </h1>
            
            <a href="/games" class="btn btn--header btn--animated">Join my team</a>
            
        </div>

    
    </header>

    {{!-- <main>
        <div class="section-about__background-layer-02"></div>
        <section class="section-about">
            


                <div class="row">

                    <div class="col-1-of-3">
                        <div class="feature-box">
                             {{!-- <i class="feature-box__icon icon-basic-world"></i> --}}
                             <h3 class="heading-tertiary u-margin-bottom-sm">Create</h3>
                             {{!-- <p class="feature-box__text">
                                 You're going to fall in love with nature. You're going to fall in love with nature. You're going to fall in love with nature.
                             </p> --}}
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="feature-box">
                            {{!-- <i class="feature-box__icon icon-basic-compass"></i> --}}
                            <h3 class="heading-tertiary u-margin-bottom-sm">Join</h3>
                            {{!-- <p class="feature-box__text">
                                You're going to fall in love with nature. You're going to fall in love with nature. You're going to fall in love with nature.
                            </p> --}}
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="feature-box">
                            {{!-- <i class="feature-box__icon icon-basic-map"></i> --}}
                            <h3 class="heading-tertiary u-margin-bottom-sm">Play</h3>
                            {{!-- <p class="feature-box__text">
                                You're going to fall in love with nature. You're going to fall in love with nature. You're going to fall in love with nature.
                            </p> --}}
                        </div>
                    </div>

                </div>
            </section>
    </main> --}}