
    {{> navigation}}
    
    <header class="header">

        {{!-- {{> index-navigation}} --}}

        <div class="header__background-layer-02"></div>
        <div class="header__background-layer-01"></div>

        <div class="header__logo-box">
            {{!-- <p class="paragraph">Login</p> --}}
            <!-- <img src="img/logo-white.png" alt="Logo" class="header__logo"> -->
        </div>
        
        <div class="header__text-box--left">

            {{!-- <p class="paragraph">Placeholder</p> --}}

            <h1 class="heading-primary">
                {{!-- <span class="heading-primary--sub">Placeholder</span> --}}
                <span class="heading-primary--main left">King</span>
                <span class="heading-primary--main left">Of the</span>
                <span class="heading-primary--main left">Court</span>
            </h1>
            
            <a href="/games" class="btn btn--gradient btn--header btn--animated">Join my team</a>
            
        </div>

    
    </header>