{{> navigation}}

<section class="section-players">
  {{> player-navigation}}
  
  {{!-- <div class="u-center-text  u-margin-bottom-lg">
    <h2>
      <span class="heading-secondary">Players</span>
    </h2>
  </div> --}}
    
  <div class="players-container"></div>

</section>