
  </head>
  <body>

    <div class="container">


      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Players</h2>
          <hr>
          <div id="player-area"></div>
        </div>
      </div>

    </div>


