{{> navigation}}

<section class="section-players">
  
  <div class="u-center-text  u-margin-bottom-lg">
    <h2>
      <span class="heading-secondary">Players</span>
    </h2>
  </div>
    
  <div class="players-container">
      
      {{!-- <div id="player-area"></div> --}}
      
  </div>

</section>

